.left
{
    display: inline-block;
border: 1px solid white;
position: absolute;
top: 10px;
left: 33px;

}
.mid
{
    display: block;
    width: 1000px;
    padding-left: 500px;
    margin: 10px auto;
border:10 px solid green;



}
.right
{
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 25px;
    right: 56px;
   

}
.right .email {
    border: 2px solid white;
    border-radius: 10px;
    color: white;

}
.right .call
{
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: underline;
}
.navbar{
    display: inline-block;
     
}
.navbar li{

    display: inline-block;
    font-size: 22px;
}
.navbar li a{
color: white;
text-decoration: none;
padding: 32px 35px;

}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: rgb(246, 164, 164);
    }
    .btn{
        
        background-color: black;
        color: rgb(232, 225, 225);
    font-size: 15px;
        border: 2px solid white;
        border-radius: 10px;
        cursor: pointer;
    }
    .btn:hover
    {
        color: rgb(125, 223, 176);
        text-decoration: underline;
        background-color: gray;
    }
    .container{
        position:absolute;
color: white;
margin: 60px;
padding: 50px;
font-size: 20px;
       
        border-radius: 20px;
    }
    .container h3 {
        font-size: 25px;
    }
    .container h6 {
    margin: 10px;
        font-size: 10px;
        color: gray;
        text-decoration: underline;
        
    }
    .container p
    {
        font-size: 15px;
    color: gray;

    }
    .aboutme{
        position: absolute;
    
        color: white;
        margin-top: 320px;
        padding: 50px;
    }
    form{
        background-color: ;
        display: inline-block;
border: 2px solid white;
margin-top: 1050px;
padding: 50px;
height: 500px;
width: 300px;
font-size: 50px;

    }
    form input{
        
background-color: black;
        color:gray;
        font-size: 20px;
        border-radius: 20px;
    }
    form input :hover
    {
text-decoration: underline;
    }
    form h5
    {
        color: white;
        border: 2px solid white;
        border-radius: 30px;
        padding: 10px;
    
    }
     form{
        background-color:black;
        display: inline-block;
border: 5px solid white;
border-radius: 80px;
margin-top: 1050px;
padding: 50px;
height: 300px;
width: 300px;
font-size: 50px;
margin-left: 500px;
font-size: 30px;

    }
    form input{
        
background-color: black;
        color:gray;
        font-size: 20px;
        border-radius: 20px;
    }
    form input :hover 
    {
text-decoration: underline;
    }
    form h5
    {
        color: white;
        border: 2px solid white;
        border-radius: 30px;
        padding: 10px;
    
    }
